<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.tacocloud.mapper.TacoIngredientMapper">
    <!--    public Account getAcct(Long id); -->
    <resultMap id="ingredientMap" type="com.spring.tacocloud.bean.Ingredient">
        <id property="id" column="ingredient_id" />
        <result property="name" column="ingredient_name" />
        <result property="type" column="ingredient_type" />
    </resultMap>
    <select id="findIngredientByTacoId" resultMap="ingredientMap">
        select ingredient.id ingredient_id, ingredient.name ingredient_name, ingredient.type ingredient_type
            from taco_ingredients left join ingredient on taco_ingredients.ingredient = ingredient.id
            where taco_ingredients.taco = #{id}
    </select>
    <insert id = "insert">
        insert into taco_ingredients(`taco`,`ingredient`) values (#{tacoId}, #{ingredientId})
    </insert>
</mapper>